@font-face {
    font-family: 'Gulf';
    src: url('/GulfsDisplay-Normal.ttf');
}
  
.paste-button {
  position: relative;
  display: block;
  font-family: Helvetica;
}

.button {
  background-color: #609AE0;
  color: #212121;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  background-color: #212121;
  border: 2px solid #609AE0;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: #609AE0;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

.dropdown-content a:hover {
  background-color: #609AE0;
  color: #212121;
}

.dropdown-content a:focus {
  background-color: #212121;
  color: #609AE0;
}

.dropdown-content #top:hover {
  border-radius: 0px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
  border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
  display: block;
}
.nav-link{
font-family: Helvetica;
color: white;
}
.nav-link:hover{
color: black;
}

.container-fluid{
background-color: #232F40;
}

body{
  background-color: #BEBEBE;
  
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    font-size: 100px;
    color: #3C3C3C;
}


a:hover {
  color: black;
  text-decoration: none;
}

.atividade-container {
  clear: both;
  margin-bottom: 20px;
  margin-top: 5%;
}

.apresentacao1,
.apresentacao2,
.apresentacao3,
.apresentacao4,
.descricao1,
.descricao2,
.descricao3,
.descricao4 {
  width: 45%;
  margin-right: 20px; 
  margin-left: 2%;
  margin-bottom: 2%;
  float: left;
}

.descricao1,
.descricao2,
.descricao3,
.descricao4 {
  margin-right: 2%;
}

#a1,#a2,#a3,#a4{
  color: #232F40;
  text-decoration: underline;
  
}

iframe {
  display: block;
  margin-bottom: 10px;
}

/* Limpar floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.calc_hora{
  text-align: center;
}

input{
  margin: 1%;
  border-radius: 10px;
  border-color: #212121;
}

#button1,#button2{
  border-radius: 10px;
  width: 15%;
}

#button1:hover,#button2:hover{
  background-color: #B8D3F4;
}

#resultado{
  margin-top: 1%;
  font-family: Helvetica;
  font-weight: bold;
}

p{
  font-family: Helvetica;
  font-weight: 300;
  font-size: larger;
}

.secondary-navbar {
  background-color: #333C4D;
  padding: 10px 0;
}

.secondary-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.secondary-navbar li {
  display: inline;
  margin: 0 10px;
}

.secondary-navbar a {
  text-decoration: none;
  color: #000000;
  padding: 8px 16px;
}

.secondary-navbar a:hover,
.secondary-navbar a.active {
  background-color: #609AE0;
  border-radius: 4px;
  font-weight: bold;
  color: #000;
}