
.paste-button {
    position: relative;
    display: block;
    font-family: Helvetica;
  }
  
  .button {
    background-color: #609AE0;
    color: #212121;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    font-size: 13px;
    position: absolute;
    z-index: 1;
    min-width: 200px;
    background-color: #212121;
    border: 2px solid #609AE0;
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: #609AE0;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
  }
  
  .dropdown-content a:hover {
    background-color: #609AE0;
    color: #212121;
  }
  
  .dropdown-content a:focus {
    background-color: #212121;
    color: #609AE0;
  }
  
  .dropdown-content #top:hover {
    border-radius: 0px 13px 0px 0px;
  }
  
  .dropdown-content #bottom:hover {
    border-radius: 0px 0px 13px 13px;
  }
  
  .paste-button:hover button {
    border-radius: 15px 15px 0px 0px;
  }
  
  .paste-button:hover .dropdown-content {
    display: block;
  }
.nav-link{
  font-family: Helvetica;
  color: white;
}
.nav-link:hover{
  color: black;
}

.container-fluid{
  background-color: #232F40;
  
}

body{
  background-color: #BEBEBE;
  text-align: center;
  
}

h1{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #3C3C3C;
  font-size: 85px;
  
  margin-top: 20px;
}

h2{
  font-family: 'Times New Roman', Times, serif;
  color: #3C3C3C;
  font-size: 35px;
  font-weight: 500;
  margin-left: 10px;
}

.ppe-natureza{
  margin-left: 2%;
  text-align: left;
}